---
- name: Configure apt repository if Debian 10
  set_fact:
    mongodb_pgp_url: https://www.mongodb.org/static/pgp/server-4.4.asc
    mongodb_apt_repository: "deb http://repo.mongodb.org/apt/debian buster/mongodb-org/4.4 main"
  when: ansible_facts.distribution == 'Debian' and ansible_facts.distribution_major_version == '10'

- name: Configure apt repository if Ubuntu 18
  set_fact:
    mongodb_pgp_url: https://www.mongodb.org/static/pgp/server-4.4.asc
    mongodb_apt_repository: "deb https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.4 multiverse"
  when: ansible_facts.distribution == 'Ubuntu' and ansible_facts.distribution_major_version == '18'

- name: Add PGP key
  apt_key:
    url: "{{ mongodb_pgp_url }}"

- name: Add apt repository
  apt_repository:
    repo: "{{ mongodb_apt_repository }}"
