server {
{% for listen_port in listen_ports %}
  listen      {{ listen_port }}{{ ' ssl' if listen_port == '443' else '' }};
{% endfor %}
  server_name {{ vhost.server_name }};

  access_log  /var/log/nginx/{{ vhost.name }}_access.log combined;
  error_log   /var/log/nginx/{{ vhost.name }}_error.log;

{% if '443' in listen_ports %}
  ssl_certificate {{ vhost.ssl.cert }};
  ssl_certificate_key {{ vhost.ssl.key }};
  ssl_trusted_certificate {{ vhost.ssl.chain }};
{% endif %}

  root        {{ vhost.document_root }};

{% if '80' in listen_ports %}
  # Allow LetsEncrypt domain validation
  location ~ ^/\.well-known/acme-challenge/ {
    default_type text/plain;
    root /var/lib/letsencrypt;
  }
{% endif %}

  index index.php index.html index.htm;

  # Deny access to hidden files & dirs.
  location ~ /\. {
    access_log off;
    log_not_found off;
    return 404;
    deny all;
  }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_pass unix:/run/php/php{{ php.version }}-fpm-{{ vhost.php_socket_name }}.sock;
    fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    include /etc/nginx/fastcgi_params;
    fastcgi_read_timeout 300;
    client_max_body_size 50000M;
  }

  location ^~ /simplesaml {
    alias {{ vhost.document_root }}/plugins/simplesaml/lib/www;

    # The prefix must match the baseurlpath configuration option
    location ~ ^(?<prefix>/simplesaml)(?<phpfile>.+?\.php)(?<pathinfo>/.*)?$ {
      include fastcgi_params;
      fastcgi_pass unix:/run/php/php{{ php.version }}-fpm-{{ vhost.php_socket_name }}.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$phpfile;

      # Must be prepended with the baseurlpath
      fastcgi_param SCRIPT_NAME /simplesaml$phpfile;

      fastcgi_param PATH_INFO $pathinfo if_not_empty;
    }
  }

  # Set proper expiration times for static files & don't log them.
  location ~* \.(jpe?g|gif|png|bmp|svg|css|js|ico|xml|html|htm|swf|htc|cur|ttf|woff2?)$ {
    try_files $uri =404;
    access_log off;
    log_not_found off;
    expires 7d;
    add_header Pragma public;
    add_header Cache-Control "public, must-revalidate, proxy-revalidate";
  }
}

{% if '80' not in listen_ports %}
server {
  listen      80;
  server_name {{ vhost.server_name }};

  # Allow LetsEncrypt domain validation
  location ~ ^/\.well-known/acme-challenge/ {
    default_type text/plain;
    root /var/lib/letsencrypt;
  }

  location / {
    # See https://www.nginx.com/resources/wiki/start/topics/tutorials/config_pitfalls/#taxing-rewrites
    # Good
    #rewrite ^ https://$host$request_uri? permanent;
    # Better
    return 301 https://$host$request_uri;
  }
}
{% endif %}

